<h3>Questions:</h3>
<div *ngIf="questions && questions.length > 0">
  <table class="questions">
    <thead>
      <tr>
        <th>Text</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions">
        <td>{{ question.Text }}</td>
        <td>
          <input type="button" value="Edit" (click)="onEdit(question)" />
          <input type="button" value="Delete" (click)="onDelete(question)" />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="questions && questions.length == 0">
  This quiz has no questions  (yet):
  Click the <strong>Add new Question</strong> button to add the first one.
</div>

<div>
  <input type="button" value="Add new Question" (click)="onCreate()" />
</div>

